CMakeLists.txt.user
Examples/Monocular/mono_cvcam
KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Thirdparty/aruco/lib/
Thirdparty/aruco/build/
Vocabulary/ORBvoc.txt
build/
*~
lib/
.vscode/
FrameTrajectory_KITTI_Format.txt
FrameTrajectory_TUM_Format.txt
KeyFrameTrajectory_TUM_Format.txt
gt.gcd
joinlines.pcd
other.pcd
orbfile.yml
g2o/
run/
.gitignore
